     <div class="jumbotron text-center">
    <h1>Scientific American News Feed</h1>
  </div>
  {{!-- Nav bar --}}
  <div class="nav">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" id="scrape-button" href="/scrape">Scrape Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/saved">All Articles</a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/favs">Favorite Articles</a>
      </li> --}}
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/notes">Comments</a>
      </li> --}}
    </ul>

  </div>
  <br>
  <br>
    <div>
       <div class="col-lg-12 pic">
                    <div class="pic-text">
                        <h1 style="color: coral">Welcome to the Scientific American News Feed Site.</h1>
                        <p class="pic-text"><span style="font-size: 30px; color:cornsilk">You can get the lates news feed from Scientific American web site. </span>
                            <br><br>
                            <span style="font-size: 24px; color:cornsilk">
        You can add or delete your comment on chosen articles.
        Previous comments are visible!
        Let's start to scrape by clicking the "Scrape Article" link!</span></p>
                    </div>
                </div>
   
      
    </div>
   